<ion-header>
  <ion-toolbar class="ion-text-center ion-text-uppercase">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sloedp</ion-title>
    <ion-buttons slot="end" *ngIf="isGranularityEnabled">
			<ion-button class="bar-button-menutoggle-md" (click)="selectRange($event)">
				Filter &nbsp;<ion-icon name="ellipsis-vertical-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
  <ng-content select="[sub-navbar]"></ng-content>
</ion-header>