<app-header-view type="president">
  <ion-toolbar sub-navbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="prevEnabled" (click)="setPrevPage()">
        <ion-icon name="arrow-back" item-start></ion-icon> {{prevYear}}
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{year}} Presidential Elections
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="nextEnabled" (click)="setNextPage()">
        {{nextYear}} <ion-icon name="arrow-forward" item-start></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</app-header-view>

<ion-content [fullscreen]="true">
  <ion-slides (ionSlideDidChange)="slideChanged()" [pager]="false" [options]="slideOpts">

    <ion-slide class="scroll-content" *ngFor="let p of subpages; let i = index">
      <ion-content style="position:absolute; top: 0; bottom: 0; width:100%;" scrollY="true">
        <!-- Your scrollable content here -->
        <app-content-view type="president" [year]="p.year" [region]="region" #president_{{i}}></app-content-view>
      </ion-content>
      <!-- <div class="ion-text-center">
      </div> -->
    </ion-slide>

  </ion-slides>
</ion-content>
