<ion-header>
  <ion-toolbar color="dark" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="onSkip()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>{{ back }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>SLOEDP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onStart()">
        <ion-label> {{ next }} </ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="d-f h-100">
    <ion-row class="f-1 h-100 ">
      <ion-col size="12" class="h-100 ion-padding">
        <ion-slides (ionSlideDidChange)="slideChanged()"  pager="true" [options]="slideOpts">
          <ion-slide>
            <div class="ion-text-center">
              <h4 class="ion-text-center fwb">SLOEDP Live Election Results App!</h4>
              <div class="ion-text-center"><img src="assets/imgs/logo.png" width="35"></div>
              <p class="ion-text-center">Use the app to visualize the June 24th, 2023 Election results.</p>
              <p class="ion-text-center">We also have historical Election Results from 1996 to 2018</p>
            </div>
          </ion-slide>
      
          <ion-slide>
            <div>
              <ul>
                <li>Click the "Harmbuger Menu" in the top left corner to "Navigate to the various screens of the app"</li>
                <li>Click the filter icon (...) located in the top right corner to "filter results by national, and district"</li>
                <li>Click on the <--2018 or 2023--> links or swipe left or right to view results for that election year</li>
                <li>Click on Table button located in the top right below the election year to view results in a table</li>
              </ul>
            </div>
          </ion-slide>
      
          <ion-slide>
            <div>
              <ul>
                <li>Click the + symbol on the map to zoom into the map</li>
                <li>Click the - symbol on the map to zoom out of the map</li>
                <li>Click on Map button located in the top left below the election year to view results on the map</li>
                <li>Click on a candidate name or photo to view their profile</li>
                <li>Click on a political party name to view their profile</li>
              </ul>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
